<!DOCTYPE html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta id="locs" data-name="{{locations}}" ">
  


   <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin="" />
       <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css" />
  <!-- markercluster  -->
  <link rel="stylesheet"
    href="{{ url_for('static', filename='dist/MarkerCluster.css')}}" />
  <link rel="stylesheet"
    href="{{ url_for('static', filename='dist/MarkerCluster.Default.css')}}" />
    
  <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script> 
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
 
  <script
    src="{{ url_for('static', filename='dist/leaflet.markercluster-src.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@4"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script> 
    <script>
      L_NO_TOUCH = false;
      L_DISABLE_3D = false;
    </script> 

    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
  
  <title>{% if title%} {{title}} {% else %} Flood Map {%endif%}</title>
</head>

<body>


  <div class="folium-map" id='map'></div>

  
 
  <script>
    var stations = {{ locations| safe }}
  

  </script>
 
</body>

<script>

  var map = L.map(
    "map",
    {
      center: [52.21436, 0.11420],
      crs: L.CRS.EPSG3857,
      zoom: 7,
      zoomControl: true,
      preferCanvas: true,
    }
  );
  L.control.scale().addTo(map);
  var tile_layer_0ce38799af920ee56124f71186b562eb = L.tileLayer(
    "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
    { "attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false }
  ).addTo(map);

  var markers = L.markerClusterGroup();

  for (const station of stations) {
    marker = L.marker([station.lat, station.long]);
    marker.bindPopup('<div id="vis" class="text-center"><div class="spinner-border" role="status"><span class="visually-hidden">Loading...</span></div> </div>' ,maxWidth=800, maxHeight=500).bindTooltip(station.notation).on('click', function (e) {
          
      fetch(`${window.origin}`, {
        method: "POST",
        credentials: "include",
        body: JSON.stringify(this.getTooltip().getContent()),
        cache: "no-cache",
        headers: new Headers({
          "content-type": "application/json"
        })
      })
        .then(function (response) {
          if (response.status !== 200) {
            console.log(`Looks like there was a problem. Status code: ${response.status}`);
            return;
          }
          response.json().then(function (data) {
                
            console.log(data)
            var vega_spec = data
            var embedOpt = {"mode": "vega-lite"};
            vegaEmbed("#vis", vega_spec, embedOpt)
            
          });
        })
        .catch(function (error) {
          console.log("Fetch error: " + error);
        });

    });
    markers.addLayer(marker);
  }
  map.addLayer(markers);

</script>

